@import 'vars';
.pace {
  -webkit-pointer-events: none;
  pointer-events: none;

  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}

.pace-inactive {
  display: none;
}
.pace{
  background: url('../pace.svg') $green no-repeat center center;
  background-size: 110px auto;
  width: 100%;
  height: 100%;
  position: fixed;
  z-index: 2000;
  top: 0;
  left: 0;
}
.pace .pace-progress {
  background: lighten($main,10%);
  position: fixed;
  z-index: 2000;
  top: 0;
  right: 100%;
  width: 100%;
  height: 10px;
}
.body_portierHome{
  .pace{
    background-color: #222;
  }
  .pace-progress{
    background: #444;
  }
}
